# Exuberant CTags file
tags

# Outputfiles
Ex*
!Ex*.cpp
!Ex*.c
!Ex*.h
!Ex*.hpp

#
# Ex01
ex01/lenaNoisy*
ex01/SidenbladhDiff.ppm
ex01/chinaToiletFilter*
ex01/fallingMangoesFilter*

#
# Ex02
ex02/croppedStreetMotion*

#
# Ex03
ex03/Cornered*


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Others
*~
